<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Account Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input
                type="name"
                name="name"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input
                type="email"
                name="email"
                disabled
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Address</ion-label>
              <ion-textarea
                height="50"
                type="textarea"
                name="address"
              ></ion-textarea>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button expand="block">Update</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
