<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-menu-toggle>
      <ion-item lines="none" routerLink="/whatsapp">
        <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
        <ion-label>+62-887-8877-8897</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item lines="none" routerLink="/instagram">
        <ion-icon name="logo-instagram" slot="start"></ion-icon>
        <ion-label>@plantstore.id</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item lines="none" routerLink="/mail">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>cs@plantstore.id</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
</ion-content>
