<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Plant Store </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col size-sm="6" offset="3">
    <ion-row>
      <ion-col size-sm="6">
        <ion-card class="ion-padding">
          <ion-card-title>
            <ion-skeleton-text
              animated
              style="width: 100%; height: 30px"
            ></ion-skeleton-text>
          </ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col size-sm="6">
        <ion-card class="ion-padding">
          <ion-card-title>
            <ion-skeleton-text
              animated
              style="width: 100%; height: 30px"
            ></ion-skeleton-text>
          </ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-content>
