<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Plant Store </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col size-sm="6">
    <ion-virtual-scroll [items]="loadedPlants" approxItemHeight="70px">
      <ion-card
        size-sm="6"
        [routerLink]="['/','/plants']"
        detail
        *virtualItem="let plant"
      >
        <ion-label>
          <h2>{{ plant.name }}</h2>
          <p>{{ plant.price }}</p>
        </ion-label>
      </ion-card>
    </ion-virtual-scroll>
  </ion-col>
</ion-content>
